@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes indeterminate {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-100;
}
